<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Airgo</title>
  <link rel="stylesheet" href="../Style/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
  <div class="header">
    <div class="header-content">
      <a href="./index.html" class="logo">
            AIRGO
      </a>
      <nav class="navbar">
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./content-01.html">Content</a></li>
          <li><a href="./about.html">About Us</a></li>
          <li><a href="./contact.html">Contact Us</a></li>
          <li><a href="./reference.html">References</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <section class="about">
        <div class="about-text">
          <p>AirGo is a progressive drone delivery business that will focus on ensuring that people can access fast, safe, and environmentally friendly delivery. Our mission is to transform the process of delivery of packages, groceries, and other necessities to people – using autonomous aerial technology.</p>
        </div>

        <div class="mission-vision">
          <div class="mission">
            <h3>Our Mission</h3>
            <p>To enhance the logistics of delivery by the use of innovative drone technology, to make it easy, fast, and sustainable to the communities all around the globe.</p>
          </div>

          <div class="vision">
            <h3>Our Vision</h3>
            <p>Imagine a day when all deliveries are airborne, there is no traffic jam, carbon emission is minimized and you are a happy person as your door is opened in minutes.</p>
          </div>
        </div>
   </section>
    
  <div class="footer">
    <div class="socials">
      <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.Twitter.com"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="copyright">
      <p>Copyright © 2025 Air Go — All rights reserved.</p>
    </div>
  </div>
</body>
</html>
