<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Airgo</title>
  <link rel="stylesheet" href="../Style/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">


</head>

<body>

  <div class="header">
    <div class="header-content">
      <a href="./index.html" class="logo">AIRGO</a>
      <button class="hamburger" id="hamburger-btn" aria-label="Open menu">
        <i class="fas fa-bars"></i>
      </button>



      <nav class="navbar" id="navbar-menu">
        <ul>
          <li><a href="./index.html" style="color: black;">Home</a></li>
          <li><a href="./content-01.html">Content</a></li>
          <li><a href="./about.html">About Us</a></li>
          <li><a href="./contact.html">Contact Us</a></li>
          <li><a href="./reference.html">References</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main-body">
    <div class="body-left">
      <h1>
        ARE YOU<br>
        READY TO SEE<br></h1>
      <h2 class="f">
        FUTURE?</h2>

      <p class="home.text">
        Find a place where innovation collides with creativity We are
        committed to providing intelligent, easy-to-use products that
        would simplify and enjoy your life. Get to know our features, get to
        know more about what we offer and get the ideal combination of
        both design and functionality.
      </p>
      <button class="read-btn">READ MORE</button>
    </div>
    <div class="body-right">
      <img src="../Images/Home-page-right-content-image.png" alt="company-drone">
    </div>
  </div>



  <div class="footer">
    <div class="socials">
      <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.Twitter.com"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="copyright">
      <p>Copyright © 2025 Air Go — All rights reserved.</p>
    </div>
  </div>
  <script>
    const hamburger = document.getElementById('hamburger-btn');
    const navbarMenu = document.getElementById('navbar-menu');
    const hamburgerIcon = hamburger.querySelector('i');

    hamburger.addEventListener('click', () => {
      navbarMenu.classList.toggle('active');
      hamburger.classList.toggle('open'); // NEW: add class to button

      if (hamburger.classList.contains('open')) {
        hamburgerIcon.classList.remove('fa-bars');
        hamburgerIcon.classList.add('fa-times');
      } else {
        hamburgerIcon.classList.remove('fa-times');
        hamburgerIcon.classList.add('fa-bars');
      }


    });
  </script>

</body>

</html>