<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Airgo</title>
  <link rel="stylesheet" href="../Style/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
  <div class="header">
    <div class="header-content">
      <a href="./index.html" class="logo">
            AIRGO
      </a>
      <nav class="navbar">
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./content-01.html">Content</a></li>
          <li><a href="./about.html">About Us</a></li>
          <li><a href="./contact.html">Contact Us</a></li>
          <li><a href="./reference.html">References</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main-body-ref">
     <p>
       Wing (2023). Wing. [online] Wing. Available at: https://wing.com/.<br>
       The Noun Project (2024).Noun Project. [online] Noun Project. Available at: https://<br>
       thenounproject.com.
‌    </p>           
  </div>

  <div class="footer">
    <div class="socials">
      <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.Twitter.com"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="copyright">
      <p>Copyright © 2025 Air Go — All rights reserved.</p>
    </div>
  </div>
</body>
</html>
