* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  background-color: #DAD7CD;
  font-family: 'Georgia', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  background-color: #344e4158;
  border-radius: 0 0 35px 35px;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.header-content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo {
  font-size: 65px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: right;
  cursor: pointer;
  text-decoration: none; 
  color: black;
  text-decoration: none;
}


.navbar ul {
  font-size: 30px;
  list-style: none;
  display: flex;
  align-items: center;
}


.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border-right: 4px solid #ffffff;
  padding-right: 20px;
  padding-left: 20px;
}


.navbar ul li:last-child a {
  border-right: none;
}


.main-body {
  flex: 1; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #DAD7CD;
  overflow: hidden;
}


.body-right {
  width: 50%;
}


.body-left {
  text-align: center;
  font-size: 60px;
  color: #6B705C;
  line-height: 1.2;
}


.body-left h1{
  color: #A3B18A;
  font-weight: bold;
  font-size: 60px;
  text-align: left;
}


.body-left h2 {
  color: #344E41;
  font-size: 60px;
  text-align: left;
}


.body-left p{
  margin-top: 25px;
  font-size: 20px;
  line-height: 1.6;
  color: #344E41;
  font-weight: 600;
  text-align: justify;
}


.body-left button{
  margin-top: 40px;
  background-color: #344E41;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
  text-align: left;
}


.body-left button:hover{
  transform: scale(1.10);
  transition: transform 0.3s ease;
  
}


.footer {
  background-color: #344e4158;
  padding: 20px 40px;
  border-radius: 35px 35px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: auto; 
}


.footer .socials a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-size: 18px;
}


.footer p {
  color: white;
  font-size: 12px;
  margin: 0;
}


.navbar ul li a:hover,
.footer .socials a:hover {
  opacity: 0.8;
  color: black;
}


.about {
  flex: 1; 
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 60px 40px;
  line-height: 1.8;
  background-color: #DAD7CD;  
}


.about-text {
  width: 55%;
  font-size: 35px;
  font-weight: 600;
  text-align: left;
  color: #344E41;
}


.mission-vision {
  width: 40%;
  font-size: 25px;
  color: #344E41;
}


.mission, .vision {
  margin-bottom: 40px;
}


.mission h3, .vision h3 {
  font-weight: bold;
  margin-bottom: 10px;
}


.contact-section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
}


.contact-left {
  width: 35%;
}


.contact-left h4 {
  font-size: 20px;
  color: #3b593e;
  letter-spacing: 2px;
  margin-bottom: 25px;
}


.contact-info {
  font-size: 18px;
  margin-bottom: 20px;
  color: #344e41;
}


.contact-info span {
  margin-right: 10px;
  font-size: 22px;
  color: black;
}


.contact-right {
  width: 55%;
}


.contact-right h2 {
  color: #a3b18a;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}


.contact-right p {
  color: #344e41;
  font-size: 16px;
  margin-bottom: 40px;
}


form {
  display: flex;
  flex-direction: column;
}


.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}


.form-group input {
  width: 48%;
}


input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #a3b18a;
  padding: 10px 5px;
  font-size: 16px;
  color: #344e41;
}


input::placeholder {
  color: #344e41;
  font-weight: 500;
}


button{
  width: 150px;
  margin-top: 30px;
  background-color: #344e41;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}


button:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease;
}


.main-body-ref{
  margin-top: 20%;
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
  color: white;
  margin-left: 25px;
}


.how-it-works {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding-top: 128px; 
  padding-bottom: 160px;;
  text-align: center;
}


.how-it-works h2 {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 19px;
  letter-spacing: 1px;
  color: #5E7055;
  margin-top: 30px;
}


.top-line {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 35px;
  background-color: #ffffff;
}


.steps {
  display: flex;
  justify-content: center;   
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  margin: 0 auto;            
  width: fit-content;        
}


.step {
  background: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 16px;
  text-align: center;
  flex: 1 1 300px;
  max-width: 340px;
  transition: transform 0.3s;
}

.step:hover {
  transform: scale(1.03);
}


.step img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}


.step h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
}


.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  font-size: 32px;
  color: #ffffff;
  font-size: 80px;
}


@media (max-width: 900px) {
  .steps {
    flex-direction: column;
  }

  .arrow span {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 40px;
  }
}


.content-text{
  margin-top: 100px;
}
  

.drone-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  margin-left: -200px;
  margin-right: -200px;
  margin-bottom: -200px;
}


.left-section {
  width: 30%;
}


.right-section{
  align-items: right;
  width: 30%;
}


.center-image {
  width: 20%;
  text-align: center;
}


.center-image img {
  width: 100%;
  max-width: 250px;
}


.right-section {
  margin-bottom: 60px;
}


.left-section {
  margin-bottom: 60px;
}


.right-section h3{
  font-weight: 600;
  color: #fff;
  font-size: 25px;
  text-align: right;
}


.left1 , .Right1{
  margin-bottom: 60px;
}


.left-section h3{
  font-weight: 600;
  color: #fff;
  font-size: 25px;
  text-align: left;
}


.right-section {
  text-align: right;
}


.right-section hr {
  border: 0;
  height: 2px;
  background: #fff;
  margin: 5px 0 10px 0;
  width: 100%;
  align-items: right;
  text-align: right;
  margin-left: auto;
}


.left-section hr {
  border: 0;
  height: 2px;
  background: #fff;
  margin: 5px 0 10px 0;
  width: 100%;
  align-items: right;
  margin-right: auto;
}


.right-section p {
  margin-top: 25px;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
}


.left-section p {
  margin-top: 25px;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
}
