* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}


body {
  margin: 0;
  background-color: #DAD7CD;
  font-family: 'Georgia', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #344e4158;
  border-radius: 0 0 35px 35px;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 65px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: right;
  cursor: pointer;
  text-decoration: none;
  color: #3A5A40;
  text-decoration: none;
}

.navbar ul {
  font-size: 30px;
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #3A5A40;
  font-weight: 600;
  border-right: 4px solid #ffffff;
  padding-right: 20px;
  padding-left: 20px;
}


.navbar ul li:last-child a {
  border-right: none;
}

.main-body {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #DAD7CD;
  overflow: hidden;
}

.body-right {
  width: 50%;
}

.body-left {
  text-align: center;
  font-size: 60px;
  color: #6B705C;
  line-height: 1.2;
}

.body-left h1 {
  color: #A3B18A;
  font-weight: bold;
  font-size: 60px;
  text-align: left;
  margin-left: 70px;
}

.body-left h2 {
  color: #344E41;
  font-size: 60px;
  text-align: left;
  margin-left: 70px;
}

.body-left p {
  margin-top: 25px;
  font-size: 20px;
  line-height: 1.6;
  background: linear-gradient(to right, #344E41, #588157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-align: justify;
  margin-left: 70px;
}

.body-left button {
  margin-top: 40px;
  margin-left: 300px;
  background-color: #344E41;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.body-left button:hover {
  transform: scale(1.10);
  transition: transform 0.3s ease;

}

.footer {
  background-color: #344e4158;
  padding: 20px 40px;
  border-radius: 35px 35px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: auto;
}

.footer .socials a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-size: 18px;
}

.footer p {
  color: white;
  font-size: 12px;
  margin: 0;
}

.navbar ul li a:hover {
  opacity: 1;
  color: black;
}

.footer .socials a:hover {
  opacity: 1;
  color: black;
}

.about {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  line-height: 1.8;
  background-color: #DAD7CD;
}

.about-text {
  width: 55%;
  font-size: 35px;
  font-weight: 600;
  text-align: left;
  background: linear-gradient(to right, #344E41, #588157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mission-vision {
  width: 40%;
  font-size: 25px;
  background: linear-gradient(to right, #344E41, #588157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.vision {
  margin-bottom: 40px;
  background: linear-gradient(to right, #344E41, #588157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mission {
  margin-bottom: 40px;
  background: linear-gradient(to right, #344E41, #588157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.vision h3 {
  font-weight: bold;
  margin-bottom: 10px;
  background: linear-gradient(to right, #344E41, #588157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mission h3 {
  font-weight: bold;
  margin-bottom: 10px;
  background: linear-gradient(to right, #344E41, #588157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contact-section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
}

.contact-left {
  width: 35%;
}

.contact-left h4 {
  font-size: 20px;
  color: #3b593e;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.contact-info {
  font-size: 18px;
  margin-bottom: 20px;
  color: #344e41;
}

.contact-info span {
  margin-right: 10px;
  font-size: 22px;
  color: black;
}

.contact-right {
  width: 55%;
}

.contact-right h2 {
  color: #a3b18a;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-right p {
  color: #344e41;
  font-size: 16px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.form-group input {
  width: 48%;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #a3b18a;
  padding: 10px 5px;
  font-size: 16px;
  color: #344e41;
}

input::placeholder {
  color: #344e41;
  font-weight: 500;
}

button {
  width: 150px;
  margin-top: 0px;
  background-color: #344e41;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;

}

.submit {
  margin-top: 20px;
}

button:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease;
  color: black;
}

.main-body-ref {
  margin-top: 20%;
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
  color: black;
  margin-left: 25px;
}

.how-it-works {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding-top: 128px;
  padding-bottom: 160px;
  text-align: center;
}

.how-it-works h2 {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 19px;
  letter-spacing: 1px;
  color: #344e41;
  margin-top: 30px;
}

.top-line {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 35px;
  background-color: #ffffff;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: fit-content;
}

.step {
  background: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  flex: 1 1 300px;
  max-width: 340px;
  transition: transform 0.3s;
}

.step:hover {
  transform: scale(1.09);
}

.step img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.step h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  font-size: 32px;
  color: #ffffff;
  font-size: 80px;
}

.content-text {
  margin-top: 100px;
}

.drone-info-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: -200px;
  margin-right: -200px;
  margin-bottom: -200px;
}

.left-section {
  width: 30%;
}

.right-section {
  width: 30%;
}

.center-image {
  width: 20%;
  text-align: center;
}

.center-image img {
  width: 100%;
  max-width: 250px;
}

.right-section {
  margin-bottom: 60px;
}

.left-section {
  margin-bottom: 60px;
}

.right-section h3 {
  font-weight: 600;
  background: linear-gradient(to right, #344E41, #588157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  text-align: right;
}

.Right1 {
  margin-bottom: 60px;
}

.left1 {
  margin-bottom: 60px;
}

.left-section h3 {
  font-weight: 600;
  background: linear-gradient(to right, #344E41, #588157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  text-align: left;
}

.right-section {
  text-align: right;
}

.right-section hr {
  border: 0;
  height: 2px;
  background: linear-gradient(to right, #344E41, #588157);
  margin: 5px 0 10px 0;
  width: 100%;
  text-align: right;
  margin-left: auto;
}

.left-section hr {
  border: 0;
  height: 2px;
  background: linear-gradient(to right, #344E41, #588157);
  margin: 5px 0 10px 0;
  width: 100%;
  margin-right: auto;
}

.right-section p {
  margin-top: 25px;
  font-size: 20px;
  line-height: 1;
  background: linear-gradient(to right, #344E41, #588157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-align: left;
}

.left-section p {
  margin-top: 25px;
  font-size: 20px;
  line-height: 1;
  background: linear-gradient(to right, #344E41, #588157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-align: left;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2.2rem;
  color: black;
  cursor: pointer;

}

@media (max-width: 1300px) {


  .header-content {
    position: relative;
  }


  .navbar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    bottom: 60px;
    background: #DAD7CD;
    display: none;
    z-index: 1000;
    padding-top: 20px;
    overflow-y: auto;
  }


  .navbar.active {
    display: inline;
    animation: fadeIn 0.2s;

  }


  .navbar ul {
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
    height: auto;
    padding: 100px;
  }


  .navbar ul li {
    width: 100%;
    text-align: center;
    border-bottom: none;
    margin-bottom: 50px;
  }


  .navbar ul li a {
    display: block;
    width: 100%;
    padding: 16px 24px;
    border-right: none;
    border-bottom: 1px solid #a3b18a;
    color: black;
    font-size: 22px;
    border-bottom: none;
  }

  .hamburger {
    display: block;
    position: relative;
    z-index: 1100;
    margin-right: -30px;
  }

  .hamburger.open i.fa-times {
    position: fixed;

    transform: translate(-50%, -50%);

    font-size: 50px;
    color: black;
    cursor: pointer;
    z-index: 1100;
  }

}




@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1300px) {
  .logo {
    font-size: 40px;
    margin-left: 1%;
  }


  .main-body {
    display: inline;
  }

  .body-right {
    display: inline;
  }

  .body-left {
    display: inline;
  }

  .read-btn {
    align-items: center;
  }

  .body-left h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 20px;
  }

  .body-left h2 {
    margin-left: 20px;
    font-size: 50px;
  }

  .body-left p {
    display: block;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 15px;
    font-size: 20px;
    color: #344E41;
    font-weight: 600;
    text-align: left;

  }

  .body-right img {
    width: 300px;
    margin-left: 70px;
    margin-top: 50px;
  }

  .body-left button {
    margin-left: 160px;
    margin-top: 50px;
  }

  .about-text {
    display: inline-block;
  }

  .mission-vision {
    display: inline-block;
    display: block;
  }

  .mission {
    display: inline-block;
    display: block;
  }

  .vision {
    display: inline-block;
    display: block;
  }


  .drone-info-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;

    display: flex !important;
    flex-direction: column !important;

    align-items: center !important;

    gap: 20px !important;
    padding-left: 20px;
    padding-right: 20px;

  }


  .left-section {
    width: 100% !important;

    text-align: left !important;

    padding-left: 20px
  }

  .right-section {
    width: 100% !important;

    text-align: left !important;

    padding-left: 20px
  }

  .center-image {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
  }

  .center-image img {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .right-tital {
    text-align: left !important;
    margin-bottom: 30px;
  }

  .left-tital {
    text-align: left !important;
    margin-bottom: 30px;
  }

  .Right2 p {
    margin-bottom: -150px !important;

  }

  .about {
    flex-direction: column;

    align-items: flex-start;
  }

  .about-text {
    width: 100%;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
  }

  .about-text p {
    margin-bottom: 20px;
  }

  .mission-vision {
    flex-direction: column;

    width: 100%;
    font-size: 16px;
  }

  .mission {
    width: 100%;
    margin-bottom: 60px;
  }

  .vision {
    width: 100%;
    margin-bottom: 60px;
  }

  .vision {
    text-align: right;
  }

  .mission {
    text-align: left;
  }

  .mission p {
    text-align: left;
  }

  .vision h3 {
    text-align: right;
  }

  .vision p {
    text-align: right;
  }

  .main-body-ref {
    display: inline;
    margin-right: 30px;
  }

  .main-body-ref p {
    line-height: 1.5;
  }

  .contact-section {
    display: inline;

  }

  .contact-section {
    flex-direction: column;
    gap: 30px;
  }

  .contact-left {
    width: 100%;
  }

  .contact-right {
    width: 100%;
  }


  .form-group {
    display: flex;
    flex-direction: column;

    margin-left: 30px;
    gap: 30px;
  }


  .email {
    margin-left: 20px;
    padding: 12px 5PX 10PX;
    width: 900px;
    height: 80px;

  }


  .submit {
    margin-left: 250px;
    width: 90%;
  }

  input[type="email"] {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    box-sizing: border-box;
  }


  .contact-left h4 {
    text-align: center;
    margin-top: 30px;
  }

  .contact-info {
    text-align: left;
    margin-left: 50px;
    margin-left: 20px;
  }

  .contact-right h2 {
    margin-left: 30px;
    margin-top: 50px;
    margin-left: 30px;
    margin-top: 90px;
    font-size: 50px;
  }

  .contact-right p {
    margin-left: 30px;

    font-size: 20px;
  }

  .contact-left p {
    margin-top: 30px;
    margin-left: 70px;

  }

  .steps {
    flex-direction: column;
  }

  .step:hover {
    transform: scale(1.1);
  }


  .arrow span {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 80px;
  }

}